<!DOCTYPE html>
<html layout:decorator="layout">
<body>
	<div layout:fragment="content">
		<div class="empty" th:if="${#lists.isEmpty(tasks)}">You have no Due Tasks</div>
		<form th:action="@{/tasks/due}" method="GET" class="form-inline">
			<div class="form-group">
				<label for="amount">Filter:</label>
				<input type="number" id="amount" class="form-control"
						placeholder="Amount" name="amount" value="1"/>
				<select id="unit" class="form-control" name="unit">
					<option value="DAYS">Days</option>
					<option value="WEEKS" selected="selected">Weeks</option>
					<option value="MONTHS">Months</option>
					<option value="YEARS">Years</option>
				</select>
			</div>
			
			<div class="form-group">
				<button type="submit" class="btn btn-default">Apply</button>
			</div>
		</form>
		
		<th:block th:replace="fragments/tables :: task"></th:block>
		
	</div>
	
	<div layout:fragment="modal">
	
		<th:block th:replace="fragments/modals :: task"></th:block>
		
		<th:block th:replace="fragments/modals :: displayTask"></th:block>
		
	</div>
	
	<th:block layout:fragment="custom-scripts">
		<script th:src="@{/assets/js/task-bs-modals.js}"></script>
		<script th:src="@{/assets/js/display-task-bs-modals.js}"></script>
		<script>
		    $('#taskDueDate').datepicker({
		        autoclose: true,
		        todayHighlight: true,
		        format: "yyyy-mm-dd"
		    });
	    </script>
		<script th:src="@{/assets/js/url-params-extraction.js}"></script>
	    <script>
	    	var match = getURLParam('amount')
	    	if (match)
	    		$('#amount').val(match)
	    	match = getURLParam('unit')
	    	if (match)
	    		$('#unit').val(match)
	    </script>
	</th:block>
</body>
</html>