<!DOCTYPE html>
<html layout:decorator="layout">
<body>
	<div layout:fragment="content">
	
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addEditFolderModal"
				data-mode="add" data-isroot="false" th:attr="data-parentid=${folderId}">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			New folder
		</button>
		<table class="table table-striped table-hover" th:unless="${#lists.isEmpty(subfolders)}">
			<thead>
				<tr>
					<th></th>
					<th>Folder name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="folder: ${subfolders}">
					<td class="col-icon"><span class="glyphicon glyphicon-folder-open"></span></td>
					<td><a th:href="@{'/folders/' + ${folder.id}}"
							th:text="${folder.name}">Static folder</a></td>
					<td class="col-actions">
						<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#addEditFolderModal" data-mode="edit"
								th:attr="data-id=${folder.id},data-name=${folder.name},data-isroot=${folder.isRoot},data-parentid=${folderId}">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#deleteFolderModal"
								th:attr="data-id=${folder.id},data-name=${folder.name}">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		
		<button type="button" class="btn btn-default" data-toggle="modal"
				data-target="#addEditTaskModal" data-mode="add" th:attr="data-folderid=${folderId}">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			New task
		</button>
		<div class="empty" th:if="${#lists.isEmpty(subfolders) and #lists.isEmpty(tasks)}">Empty folder</div>
		
		<th:block th:replace="fragments/tables :: task"></th:block>
		
	</div>
	
	<div layout:fragment="modal">
	
		<th:block th:replace="fragments/modals :: folder"></th:block>
	
		<th:block th:replace="fragments/modals :: task"></th:block>
		
		<th:block th:replace="fragments/modals :: displayTask"></th:block>
		
	</div>
	
	<th:block layout:fragment="custom-scripts">
		<script th:src="@{/assets/js/folder-bs-modals.js}"></script>
		<script th:src="@{/assets/js/task-bs-modals.js}"></script>
		<script th:src="@{/assets/js/display-task-bs-modals.js}"></script>
		<script>
		    $('#taskDueDate').datepicker({
		        autoclose: true,
		        todayHighlight: true,
		        format: "yyyy-mm-dd"
		    });
	    </script>
	</th:block>
</body>
</html>